# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
lib/

# Docker volumes
volumes/

knowledge_graph.html
#ignore built knowledge graph HTML if generated
knowledge_graph/

# VS Code
.vscode/
user.yaml
embedEtcd.yaml

# Logs & Neo4j data
*.log
*.db
standalone.bat