# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
lib/

# Docker volumes
volumes/

# Knowledge graph artifacts
#knowledge_graph/

# Editor configs
.vscode/

# Configuration files

# Logs and Neo4j database files
*.log
*.db
*.dump
data/
import/

# Miscellaneous
.env
candidates.json