# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
lib/

# Docker volumes
volumes/


#ignore built knowledge graph HTML if generated
knowledge_graph/knowledge_graph.html

# Environment variables
.env

# VS Code
.vscode/

# Logs & Neo4j data
*.log
*.db

candidates.json