# Core Python libraries
neo4j==5.15.0
langchain==0.3.0
pydantic==2.7.4
langchain-groq==0.2.0
langchain-community==0.3.0
python-dotenv==1.0.1
langchain-core==0.3.0
sentence-transformers
networkx 
pyvis
jq
langchain-milvus==0.1.10
langchain-huggingface
hf-xet
langchain-mistralai
pymilvus[model]==2.5.5
einops
langchain[google-vertexai]
langchain-google-genai
langgraph